@import url("https://fonts.googleapis.com/css?family=Days+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #f8f8f8;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

img {
  border-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.Welcome-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10vh 10vh;
  padding: 15% 5%;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: #80D8FF;
}

.Welcome-Container h1 {
  color: #0091EA;
  font-size: 50px;
  font-family: 'Days One', sans-serif;
}

.Welcome-Container input[type=button] {
  border: 1px solid #0091EA;
  border-radius: 15px;
  color: white;
  background: #0091EA;
  margin: 30px 0;
  padding: 10px;
  cursor: pointer;
}

.Welcome-Container input[type=button]:hover {
  background: #e6e6e6;
}

.Welcome-Container p {
  font-family: 'Chakra Petch', sans-serif;
}

.Team-Container {
  margin: 0 5%;
  padding: 15px;
}

.Team-Container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 25%;
  padding: 3%;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.Team-Container div label {
  background: lightblue;
  border-radius: 10px 0 0 10px;
  padding: 5px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
          box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
}

.Team-Container div input[type=text] {
  background: lightblue;
  border: none;
  padding: 5px 0;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
          box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
}

.Team-Container div input[type=button] {
  background: lightblue;
  border: none;
  border-left: .5px solid gray;
  border-radius: 0 10px 10px 0;
  padding: 5px;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
          box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
}

.Form-Container {
  margin-top: 5%;
  padding: 15px;
}

.Input-Categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Input-Group {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 40px;
  padding: 5px;
}

.Input-Group input[type=text] {
  width: 200px;
}

.Input-Questions {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  margin: 10px;
  background: white;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.Input-Questions .Input-Title {
  text-align: center;
  margin: 10px 20%;
  width: 200px;
}

.Input-Questions input[type=submit] {
  margin: 10px 125px;
  border: 1px solid gray;
  border-radius: 10px;
}

.Input-Questions input[type=submit]:hover {
  background: gray;
  cursor: pointer;
}

.team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.teams {
  margin: 0 5%;
  padding: 5px 25px;
  border-radius: 15px;
  border: 1px solid lightblue;
  background-color: #0064ff;
}

.teams h5 {
  width: 120px;
}

.Board-Container {
  height: 98vh;
  text-align: center;
  background: black;
}

.board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (15%)[6];
      grid-template-columns: repeat(6, 15%);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
  margin: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category {
  padding: 45px;
  border-radius: 15px;
  border: 2px solid white;
  background: radial-gradient(circle, blue 20%, #0032ff 40%, #0064ff 60%, #0096ff 80%, #00c8ff 100%);
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  overflow: hidden;
  min-width: 130px;
  min-height: 90px;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid white;
  background: radial-gradient(circle, blue 20%, #0032ff 40%, #0064ff 60%, #0096ff 80%, #00c8ff 100%);
}

.block:hover {
  cursor: pointer;
  background: radial-gradient(circle, #00c8ff 20%, blue 100%);
}

h1 {
  padding: 5px;
}

h5 {
  color: yellow;
}

.question {
  display: none;
}

.fade-out {
  -webkit-animation: fadeOut ease 8s;
          animation: fadeOut ease 8s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=index.css.map */