@import url('https://fonts.googleapis.com/css?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap');

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
	background: #f8f8f8;
}
main {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
img {
	border-style: none;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}
[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details {
	display: block;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none;
}

// Welcome

.Welcome-Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 20vh 25vh;
	padding: 15% 5%;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background: yellowgreen;
	h1 {
		color: blue;
		font-size: 50px;
		font-family: 'Days One', sans-serif;;
	}
	input[type=button] {
		border: 1px solid black;
		border-radius: 15px;
		margin: 30px 0;
		padding: 10px;
		cursor: pointer;
	}
	p {
		font-family: 'Chakra Petch', sans-serif;
	}
}

// Form

.Team-Container {
	margin: 10% 22% 0;
	padding: 15px;
}

.Form-Container {
	margin: 0 22%;
	padding: 15px;
}

.Input-Teams {
	display: flex;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	margin: 0 25%;
	padding: 3%;
	background: white;
	border-radius: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.Input-Categories {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: space-evenly;
	
}

.Input-Questions {
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	width: 350px;
	margin: 10px;
	background: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	label {
		margin-right: 5px;
	}
	input[type=submit] {
		margin: 10px 125px;
		border: 1px solid gray;
		border-radius: 10px
	}
	input[type=submit]:hover {
		background: gray;
		cursor: pointer;
	}
}

.Input-Group {
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px 40px;
	padding: 5px;
}

.Input-Title {
	text-align: center;
	margin: 0 20%;
	width: 200px;
}

// Team

.team-container {
	display: flex;
	padding: 10px 200px;
	justify-content: space-evenly;
}

.teams {
	margin: 0 5%;
	padding: 5px 50px;
	border-radius: 15px;
	border: 1px solid lightblue;
	background-color: rgb(0, 100, 255);
}

// Board
.Board-Container {
	// width: 100vw;
	height: 98vh;
	text-align: center;
	background: black;
}

.board {
	display: grid;
	grid-template-columns: repeat(6, 260px);
	grid-template-rows: repeat(5, auto);
	grid-gap: 15px;
	margin: 5px;
	justify-content: center;
}

.category {
	padding: 45px;
	border-radius: 15px;
	border: 2px solid white;
	background: radial-gradient(
		circle,
		rgb(0, 0, 255) 20%,
		rgb(0, 50, 255) 40%,
		rgb(0, 100, 255) 60%,
		rgb(0, 150, 255) 80%,
		rgb(0, 200, 255) 100%
	);
}

.block {
	width: 250px;
	display: flex;
	height: 150px;
	overflow: hidden;
	min-width: 130px;
	min-height: 90px;
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	background: radial-gradient(
		circle,
		rgb(0, 0, 255) 20%,
		rgb(0, 50, 255) 40%,
		rgb(0, 100, 255) 60%,
		rgb(0, 150, 255) 80%,
		rgb(0, 200, 255) 100%
	);
}

.block:hover {
	cursor: pointer;
	background: radial-gradient(circle, rgb(0, 200, 255) 20%, rgb(0, 0, 255) 100%);
}

h1 {
	padding: 5px;
}

h5 {
	color: yellow;
}

.question {
	display: none;
}

.fade-out {
	animation: fadeOut ease 8s;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
