@import url('https://fonts.googleapis.com/css?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch&display=swap');

$primary: #80d8ff;
$secondary: #40c4ff;
$accent-primary: #00b0ff;
$accent-secondary: #0091ea;

@mixin container {
	display: flex;
	align-items: center;
	text-align: center;
	border-radius: 25px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	background: white;
}

@mixin input {
	outline: none;
	border-color: $secondary;
	box-shadow: 0 0 10px $secondary;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
	background: #f8f8f8;
}
main {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
}
b,
strong {
	font-weight: bolder;
}
img {
	border-style: none;
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}
textarea {
	overflow: auto;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details {
	display: block;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none;
}

// Welcome

.Welcome-Container {
	@include container;
	margin: 15vh 25vw;
	padding: 50px;
	flex-direction: column;
	background: $accent-primary;
	max-width: 500px;
	h1 {
		color: $accent-primary;
		font-size: 35px;
		font-family: 'Days One', sans-serif;
		border-radius: 10px;
		background: white;
		padding: 20px 25px;
		margin-bottom: 100px;
		box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
	}
	input[type=button] {
		border-radius: 25px;
		color: $accent-primary;
		background: white;
		margin: 30px 0;
		padding: 10px 20px;
		cursor: pointer;
		box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
	}
	input[type=button]:hover {
		background: rgb(230, 230, 230);
	}
	div {
		border-radius: 10px;
		color: $accent-primary;
		background: white;
		margin: 75px 0;
		padding: 5px 25px;
		box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
		font-family: 'Chakra Petch', sans-serif;
	}
}

// Form

.Form-Container {
	@include container;
	justify-content: center;
	flex-direction: column;
	padding: 15px;
	flex-wrap: wrap;
	width: 350px;
	margin: 10% 35%;
	.Input-Title {
		text-align: center;
		margin: 10px 20%;
		width: 200px;
		border: 1px solid $primary;
		border-radius: 15px;
		box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
	}
	.Input-Title:focus {
		@include input;
	}
	.Input-Group {
		border: 1px solid $accent-primary;
		border-radius: 5px;
		margin: 0 40px;
		padding: 5px;
		box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
		input[type=text] {
			width: 200px;
			border: 1px solid $primary;
			border-radius: 3px;
			margin: 1px 0;
		}
		input[type=text]:focus {
			@include input;
		}
	}
	input[type=submit] {
		margin: 10px 125px;
		border: 1px solid $secondary;
		background: white;
		border-radius: 10px;
		box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
	}
	input[type=submit]:hover {
		background: gray;
		cursor: pointer;
	}
}

// Team

.Team-Container {
	@include container;
	justify-content: center;
	margin: 0 5%;
	padding: 15px;
	label {
		border-radius: 10px 0 0 10px;
		padding: 5px;
		border: 1px solid $primary;
		box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
	}
	input[type=text] {
		border: 1px solid $primary;
		padding: 5px 0;
		box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
	}
	input[type=text]:focus {
		@include input;
	}
	input[type=button] {
		background: white;
		border: 1px solid $primary;
		border-radius: 0 10px 10px 0;
		padding: 5px;
		cursor: pointer;
		box-shadow: 5px 5px 5px 0px rgba(200, 200, 200, 0.5);
	}
	input[type=button]:hover {
		background: rgb(230, 230, 230);
	}
}

.team-container {
	display: flex;
	padding: 10px 200px;
	justify-content: space-evenly;
}

.teams {
	margin: 0 5%;
	padding: 5px 25px;
	border-radius: 15px;
	border: 1px solid lightblue;
	background-color: rgb(0, 100, 255);
	h5 {
		width: 120px;
	}
}

// Board
.Board-Container {
	// width: 100vw;
	height: 98vh;
	text-align: center;
	background: black;
}

.board {
	display: grid;
	grid-template-columns: repeat(6, 15%);
	grid-template-rows: repeat(5, auto);
	grid-gap: 10px;
	margin: 5px;
	justify-content: center;
}

.category {
	padding: 45px;
	border-radius: 15px;
	border: 2px solid white;
	background: radial-gradient(
		circle,
		rgb(0, 0, 255) 20%,
		rgb(0, 50, 255) 40%,
		rgb(0, 100, 255) 60%,
		rgb(0, 150, 255) 80%,
		rgb(0, 200, 255) 100%
	);
}

.block {
	display: flex;
	height: 150px;
	overflow: hidden;
	min-width: 130px;
	min-height: 90px;
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	background: radial-gradient(
		circle,
		rgb(0, 0, 255) 20%,
		rgb(0, 50, 255) 40%,
		rgb(0, 100, 255) 60%,
		rgb(0, 150, 255) 80%,
		rgb(0, 200, 255) 100%
	);
}

.block:hover {
	cursor: pointer;
	background: radial-gradient(circle, rgb(0, 200, 255) 20%, rgb(0, 0, 255) 100%);
}

h1 {
	padding: 5px;
}

h5 {
	color: yellow;
}

.question {
	display: none;
}

.fade-out {
	animation: fadeOut ease 8s;
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
